
.form-header{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
text-align: center;
color: #444444;
margin-top: 30px;
}
/*edit img button*/
.seller-pro-pic-holder {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #BD9EFB;
    /* background: #fff; */
  }
  
  .seller-profile-pic-div {
    position: relative;
    border-radius: 50%;
    height: 158px;
    width: 158px;
    overflow: hidden;
  }
  
  .seller-profile-pic-div img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pro-img-up-btn {
    position: absolute;
    background: #BD9EFB;
    color: #fff;
    border-radius: 50%;
    left: 68%;
    top: 76%;
  
    width: 45px;
    height: 45px;
    min-width: 45px;
    padding: 0;
    cursor: pointer;
  }
  .pro-img-up-btn input{
      display: none;
  }
  .pro-img-up-btn::after {
    position: absolute;
    content: "";
    background-image: url("../../assets/icons/edit-icon.svg");
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-size: cover;
    transform: translate(-50%, -50%);
  }
  
  .pro-img-up-btn img {
    width: 18px;
    height: 18px;
  }
  /*form codes*/
  .form-holder{
      margin-top: 220px;
  }
  .form-control{
    background-color: transparent !important;
}
.custom-label{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #BD9EFB;
}
.custom-formgroup{
 border: 1px solid #444444;
 border-radius: 10px;   
}
.submit-holder{
    margin-top: 30px;
    text-align: center;
}
.submit-button{
   
    background: #BD9EFB;
border-radius: 10px;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #F7F7F7;
border-color:#BD9EFB ;
width: 555px;
height: 60px;
}
.submit-button:hover{
    background: rgb(92,79,207);
}
.dum-text{
    color: #444444;
}
.final-footer{
    text-align: center !important;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}
.registration-link{
    margin-left: 5px;
    color:#BD9EFB;
    text-decoration: none !important;
    font-weight: 600;
}